.card{
    background-color:#303F70 ;
    width: 18vw;
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-heading h3{
    color: white;
    text-align: left;
}

.card-icon{
    color: white;
    width: 25%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.card-contents{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

.card-main-content{
    color: #DBDFEA;
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}