.current-kpi-cont{
    border-radius: 15px;
    margin: 13vh 2vw 3vw 17vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;;
    background-color: white;
    box-shadow: #949bb4 0px 10px 15px -3px, #949bb4 0px 4px 6px -2px;

}

.current-daily-cont{
    border-radius: 15px;
    margin: 0vw 2vw 3vw 17vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;;
    background-color: white;
    box-shadow: #949bb4 0px 10px 15px -3px, #949bb4 0px 4px 6px -2px;
}

.cont-heading{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.cont-heading h2{
    font-size: 30px;
    font-weight: bold;
    
}

.cont-heading .heading-underline{
    height: 5px;
    background-color: black;
    width: 120px;
    border-radius: 50px;
}

.current-kpi-cards{
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
}