.current-kpi-cont{
    width:85vw;
    margin-left: 15vw;
    padding: 6em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;;
}

.current-daily-cont{
    width:85vw;
    margin-left: 15vw;
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;;
}

.cont-heading{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.cont-heading h2{
    font-size: 30px;
    font-weight: bold;
    
}

.cont-heading .heading-underline{
    height: 5px;
    background-color: black;
    width: 120px;
    border-radius: 50px;
}

.current-kpi-cards{
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
}