.card{
    /* background-color:#303F70 ; */
    width: 100%;
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
    /* background: rgba(34, 32, 159, 1); */
    background-color: #F7F6FC;
    color: black;
}

.card:hover {
  transform: scale(1.05);
}

.card-heading h4{
    color: #22209F;
    text-align: left;
}

.card-icon{
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.card-contents{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

.card-main-content{
    display: flex;
    font-size: 20px;
    gap: 1em;
    justify-content: flex-start;
}