.card{
    /* background-color:#303F70 ; */
    width: 100%;
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
    background: linear-gradient(23deg, rgba(48, 63, 112, 1)
    45%, rgb(173, 182, 242) 100%);

}

.card:hover {
  transform: scale(1.05);
}

.card-heading h4{
    color: #DBDFEA;
    text-align: left;
}

.card-icon{
    color: #DBDFEA;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.card-contents{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

.card-main-content{
    color: white;
    display: flex;
    font-size: 30px;
    gap: 1em;
    justify-content: flex-start;
}